button {
    height: 300px;
    width: 300px;
    outline: none;
    margin: none;
    border: none;
    border-radius: 2px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  body {
    min-width: 300px; /* your desired width */
    max-width: 100%;
    position: relative;
    vertical-align:left;
  }