@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    font-family: 'Nunito Sans';
    color: #fff;
}

h1, h2, h3, h4, h6{
    margin: 0;
}


.container{
    width: 700px;
    height: auto;
    min-height: 580px;
    background: rgb(55,66,84);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.license{
    display: grid;
    place-items: center;
}

input{
    background: #374254;
    box-shadow: inset 5px 5px 10px #2e3746, inset -5px -5px 10px #404d62;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Nunito Sans';
    font-size: medium;
    width: calc(100% - 20px);
    word-spacing: normal;
    text-align: center;
}

.activationBtn{
    margin-top: 20px;
}

.licenseDiv .logo{
    width: 100px;
    margin-bottom: 10px;
}

button{
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: linear-gradient(145deg, #3b475a, #323b4c);
    box-shadow:  5px 5px 10px #2e3746, -5px -5px 10px #404d62;
    cursor: pointer;
    margin: auto;
    margin-top: 0;
    text-align: center;
    border: none;
    color: #fff;
    font-size: larger;
}

button:hover{
    transition: 0.5s box-shadow;
    box-shadow:  3px 3px 6px #2e3746, -3px -3px 6px #404d62;
}

button:not(:hover){
    transition: 0.5s box-shadow;
    box-shadow:  5px 5px 10px #2e3746, -5px -5px 10px #404d62;
}

button:active{
    background-color: #374254;
    box-shadow: inset 6px 6px 16px #2f3847, inset -6px -6px 16px #3f4c61;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logoDiv, .header .settingsDiv{
    width: 33.3%;
}

.header .logoDiv{
    display: grid;
    place-items: center;
}


.header .discordUser{
    display: inline-block;   
    width: 33.3%;
}

.header .logoDiv .logo{
    width: 80px;
    float: center;
}

.header .settingsDiv .settingsBtn{
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: url(images/settings.svg) center center/20px no-repeat;
    background-color: linear-gradient(145deg, #3b475a, #323b4c);
    box-shadow:  6px 6px 12px #2f3847, -6px -6px 12px #3f4c61;
}

.header .settingsDiv .settingsBtn:hover{
    background-color: linear-gradient(145deg, #323b4c, #3b475a);
}

.header .settingsDiv .settingsBtn:active{
    background-color: #374254;
    box-shadow: inset 6px 6px 16px #2f3847, inset -6px -6px 16px #3f4c61;
}

.avatarContainer{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin: auto;
    border: 2px solid #00e8aa;
    float: left;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username{
    float: left;
    margin-left: 10px;
}

.box{
    width: fit-content;
    padding: 20px;
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: 5px 5px 10px #2f3847 -5px -5px 10px #3f4c61;
    box-shadow: 4px 4px 8px #2f3847, -4px -4px 8px #3f4c61;
    text-align: center;
}

.homeBox{
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 10px;
}

.homeBox + .homeBox{
    margin-top: 25px;
}

.successDiv{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.successDiv div{
    width: 50%;
    display: grid;
    place-items: center;
}

.successDiv div img{
    width: 30px;
}

.settingsContainer{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 0px;
    left: 0px;
    border-radius: 10px;
    padding: 20px;
    background: rgb(55,66,84);
    text-align: center;
    display: none;
    z-index: 1000;
}

.licenseContainer{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 0px;
    left: 0px;
    border-radius: 10px;
    padding: 20px;
    background: rgb(55,66,84);
    text-align: center;
    display: grid;
    place-items: center;
    z-index: 1500;
}

.licenseDiv{
    width: 70%;
    margin: auto;
    text-align: center;
}

.settingsContent{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.settingsContainer .logo{
    width: 50px;
}

.back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    cursor: pointer;
}

.homeBox table{
    width: 100%;
}

.homeBox table tr th{
    width: 33.33%;
}

.homeBox table tr td .tableItem{
    width: 100%;
    display: grid;
    place-items: center;
}

.dropdown{
    position: relative;
}

.dropdownBtn{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.dropdownBtn img{
    float: right;
    width: 20px;
}

.dropdown-content{
    background-color: rgb(55,66,84);
    position: absolute;
    max-height: 100px;
    overflow-y: scroll;
    top: 45px;
    min-width: 50px;
    left: -10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    z-index: 100;
}

.dropdown-content ul{
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.dropdown-content li{
    cursor: pointer;
}

.dropdown-content li:hover{
    color: #00e8aa;
}

.webhookInputContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.webhookInputContainer input{
    width: 70%;
}

.webhookInputContainer button{
    width: 30%;
    margin-bottom: 0;
    margin-left: 10px;
}


.switch{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background: url(images/power.svg) center center/18px no-repeat;
    background-color: linear-gradient(145deg, #3b475a, #323b4c);
    box-shadow:  6px 6px 12px #2f3847, -6px -6px 12px #3f4c61;
}

.on{
    background: url(images/power-green.svg) center center/18px no-repeat;
}

.switch:hover{
    background-color: linear-gradient(145deg, #323b4c, #3b475a);
}

.switch:active{
    background-color: #374254;
    box-shadow: inset 6px 6px 16px #2f3847, inset -6px -6px 16px #3f4c61;
}

.reportMessage{
    width: fit-content;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #374254;
    position: fixed;
    top: 20%;
    left: 5%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.reportMessage img{
    width: 25px;
    margin-right: 10px;
}

.reportMessage h5{
    margin: 0;
    margin-right: 10px;
}

.loader{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    animation: loader-spin 2s infinite linear;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}

.SettingsLogo{
    width: 60px;
}

.settingsBtns{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.settingsBtns button{
    min-width: 200px;
}

.settingsBtns .logoutBtn{
    color: tomato;
}

.checkoutInfoContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;
}

.checkoutInfoContainer .box:first-child{
    margin-right: 10px;
}

.checkoutInfoContainer .box:last-child{
    margin-left: 10px;
}

.settingsBox{
    text-align: left;
}

.settingsBox div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.settingsBox select{
    background: #374254;
    box-shadow: inset 5px 5px 10px #2e3746, inset -5px -5px 10px #404d62;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Nunito Sans';
    font-size: medium;
    color: #eee;
    width: calc(100% - 20px);
    word-spacing: normal;
    text-align: center;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url(images/down.svg) 96% / 15% no-repeat;
}

.settingsBox input, select{
    text-align: left;
    margin: 5px;
}